@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

$fontFamily: 'Montserrat', 'sans-serif';
$backgroundColor :  #0c0f0c;
$textAlign : center;
$textColor : #fff;
$bold : 700px;
$normal : 400px;
